@model Player
@{
    ViewData["Title"] = "HomeScreen";
}

<h1>HomeScreen</h1>

<p>Welcome @Model.Name</p>
<br />
<p>Dolls = @Model.Dolls.Count</p>
<br />
<p>Decks = @Model.Decks.Count</p>
<br />
<form action="/Shop/Index">
    <input type="hidden" name="playerID" value="@Model.PlayerID" />
    @*<a class="nav-link text-dark" asp-area="" asp-controller="Shop" asp-action="Index">Go to Store</a>*@
    <input type="submit" value="Hero Store" />
</form>

