
@{
    ViewData["Title"] = "LoginPage";
}

<h1>LoginPage</h1>

<form method="post" action="/Home/HomeScreen">
    <input type="text" id="userName" name="userName" placeholder="Login name" />
    <input type ="submit" value="login" />
</form>
<a href="/Home/NewUser">New User?</a>