
@{
    ViewData["Title"] = "NewUser";
}

<h1>NewUser</h1>

<h3>Welcome new user</h3>

<form method="post" action="Home/RegisterUser" >
    <p>Please give us your username</p> <br />
    <input type="text" name="userName" id="userName" />
    <br />
    <input type="submit" value="Register" />
</form>

