@model CoreHeroCards.Models.HeroActionCard
@{
    ViewData["Title"] = "CreateCard";
}

<h1>CreateCard</h1>

Your Card has been created!
Card Name: @Model.CardName <br />
Mana cost: @Model.ManaCost <br />
Slashing: @Model.Slashing <br />

