@model HeroDoll
@{
    ViewData["Title"] = "WorkBench";
}

<h1>WorkBench</h1>

<p>Need to determine what stats the player can upgrade???</p>
<p>Do we want to have asscessories?  Swords / armor, for a more warrior model or clothes for a more stuff animal model</p>
<p>Hero doll is being passed in</p>
